/*Fixes and responsive */



/* Header */


@media screen and (max-width: 1440px) {
    .container {
        padding-left: 4%;
        padding-right: 4%;
    }
}

/*breakpoint 1025px */
@media screen and (max-width:1024px){
}

/*breakpoint 962px */
@media screen and (max-width:962px){    
    /*news events */
    .news_item .event_time{
        margin-top: 10px;
    }
    .news_event_holder .news_item {
        font-size: 14px;
    }
    .news_event_holder.split_event .news_item{
        font-size: 12px;
    }
}

/*breakpoint 770px */
@media screen and (max-width:769px){
    /* New Products Section */
    .new_products .products_col {
        width: 100%;
        float: none;
    }
    .new_products .product_text {
        bottom: 0;
    }
    .new_products .product_text p {
        display: none;
    }
    /*news events */
    .news_events .news_event_holder {
        float: none;    
        height: 300px;
        max-width: 100%!important;
    }
    .news_events .news_event_holder a {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }
    .news_events .news_event_holder.split_event{
        height: auto;
    }
    .news_events .news_event_holder.split_event .news_item{
        height: auto;
    }
}

/*breakpoint 660px */
@media screen and (max-width:660px){
}
/*todo -500px*/

/*breakpoint 512px */
@media screen and (max-width:511px){
    /* Parallex Section */
}